html{background-color: black;}
div{margin-left: 25%; width: 50%;}
img{width: 100%; border: 5px solid white;}
h1{text-align: center; color: white; text-transform: uppercase;}
p{text-align: center; color: white; font-size: x-large;}
